{# app/Resources/views/tags/result.html.twig #}

{% extends 'base.html.twig' %}



{% block title %}Resultado{% endblock %}

{%block stylesheets%}
    {{ parent() }}

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/vocabulary.css') }}"/>
{% endblock %}

{% block content %}
    <!--Barra Superior de titulo-->
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <div class="col-xs-7">
                    <h3 class="animated fadeInLeft">Resultado</h3>
                    <p class="animated fadeInDown">
                    Home <span class="fa-angle-right fa"></span> Credits
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--Hoja Blanca-->
    <div class="col-md-12 panel">
        <div class="col-md-12 panel-heading">
            <center><h1>No existe Vocabulario con ese Id.</h1></center>


            <div class="col-xs-3">
                <h2 class="col-xs-12 acciones espacio-acciones">Acciones</h2>
                <a href="{{ path("create_vocabulary") }}" class="col-xs-12 submit btn btn-3d btn-default texto-boton botones crear-boton animar-boton">Crear</a>
                <a href="{{ path("show_all_vocabularies") }}" class="col-xs-12 submit btn btn-3d btn-default texto-boton botones crear-boton animar-boton">Vocabularios</a>
            </div>

        </div>
    </div>
    <!-- end: hoja blanca -->
{% endblock %}

{% block javascripts %}

    {{ parent() }}

{% endblock %}