{% extends 'base.html.twig' %}

{% block title %}Tickets{% endblock %}

{%block stylesheets%}
    {{ parent() }}

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/vocabulary.css') }}"/>
{% endblock %}

{% block content %}

    <!--Barra Superior de titulo-->
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <div class="col-xs-7">
                    <h3 class="animated fadeInLeft">Tickets</h3>
                    <p class="animated fadeInDown">
                        Home <span class="fa-angle-right fa"></span> Credits
                    </p>
                </div>
             </div>
        </div>
    </div>
    <!--Hoja Blanca-->
    <div class="col-md-12 panel">
        <div class="col-md-12 panel-heading">
            <h4>Detalles del Ticket</h4>
        </div>
        <div class="col-md-12 panel-body">
           <div class="col-xs-9">
                {% if message is defined %}
                    <h2>{{ message }}</h2>
                {% else %}

                <h1  class="col-xs-12 texto-titulo">{{ result.name}}</h1>
                <div class="col-xs-3">
                    <p class="texto-campo">ESTADO:</p>
                </div>
                <div class="col-xs-9">
                        <p class="texto-resultado">{{ result.getTextStatus(result.status) }}</p>
                    </div>
                    <div class="col-xs-3">
                        <p class="texto-campo">DESCRIPCION:</p>
                    </div>
                    <div class="col-xs-9">
                        <p class="texto-resultado">{{ result.description }}</p>
                    </div>
                {% endif %}
            </div>
            <div class="col-xs-3">
                <h2 class="col-xs-12 acciones espacio-acciones">Acciones</h2>
                <a href="{{ path("edit_tags", {'id' : result.id }) }}" class="col-xs-12 submit btn btn-3d btn-default texto-boton botones animar-boton">Editar</a>
                 <a href="{{ path("delete_tags", {'id' : result.id }) }}" class="col-xs-12 btn ripple btn-3d btn-danger botones animar-boton">Borrar <span class="fa fa-trash"></span></a>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}

    {{ parent() }}

{% endblock %}
